<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Manual Test for <%= componentTitle %></title>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body ng-controller="TestCtrl">
  <div id="target">

  </div>

  <!-- base dependencies that are not included as deps in diversity.json -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="deps/jquery.jsonrpcclient.js/jquery.jsonrpcclient.js"></script>
  <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="/node_modules/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="deps/diversity-js/diversity-renderer.js"></script>
  <script type="text/javascript" src="/node_modules/tota11y/build/tota11y.min.js"></script>
  <script type="text/javascript">
  angular.module('test', []).controller('TestCtrl', function() {
    //Use the TestCtrl to setup anythin you component might need,
    //like an order or settings etc
  }).constant('language', 'sv').constant('webshop', 41503);

//Load component.
//Change name of component and backend and webshop uid to something suitable
$('#target').diversity('<%= componentName %>', {
  root: '../',
  deps: 'deps/',
  backend: 'https://davidstage.textalk.se/backend/jsonrpc/v1/',
  context:  {
    webshop: 41503, // burningbroccoli test shop
    languageCode: 'sv',
    currencyCode: 'SEK'
  },
  module: 'test'
});
</script>
  </body>
</html>
